In [2]:
from lxml import etree
import pandas as pd

from tqdm import tqdm
import os

In [1]:
#setup
path = 'OneDrive_1_14-03-2023/output_xml 2023-03-13 BR'
xml_file = 'DFT_20230313-164428-All Contracts.xml'
excel_file = '2023-03-11 BR MN Template for External Contracts - Service and Rental v1.9 - Brazil 2023-03-11.xlsx'
sheet_name = 'Service and Rental - TEMPLATE'
#load_file = '2023-03-06 BR Load Results.xlsx'

In [3]:
df_log = pd.read_csv(f'{path}/logs.csv', header=None)

In [4]:
# Opening excel and xml file
tree = etree.parse(f'{path}/{xml_file}')
root=tree.getroot()
excel = pd.read_excel(f'{path}/{excel_file}', header = 3, sheet_name=f'{sheet_name}')
#load = pd.read_excel(f'{path}/{load_file}')

In [56]:
excel

,Name,Alternate Contract Id,Customer ID,Author,Sales Rep,Additional Delegate,Customer Contract Id,Subtype,Organization,Currency,...,TOR Date,Pricing Contributions,Ownership,Quantity,Comment EXT1,Comment EXT2,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,ALCYR ALVES FERREIRA & CIA LTDA - 093/15 - 3TA,093/15 - 3TA,56669198,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,NaN,NaN,NaN
1,ALCYR ALVES FERREIRA & CIA LTDA - 093/15 - 3TA,093/15 - 3TA,56669198,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,NaN,NaN,NaN
2,ALCYR ALVES FERREIRA & CIA LTDA - 093/15 - 3TA,093/15 - 3TA,56669198,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,NaN,NaN,NaN
3,ALCYR ALVES FERREIRA & CIA LTDA - 093/15 - 3TA,093/15 - 3TA,56669198,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,NaN,NaN,NaN
4,ALCYR ALVES FERREIRA & CIA LTDA - 094/15 - 3TA,094/15 - 3TA,56669198,Emanuele Silva,NaN,NaN,NaN,Service Contracts,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,GOMES & MONTEIRO MULT MEDICAS LTDA - Gomes & M...,Gomes & Monteiro,56792390,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,NaN,NaN,NaN
1115,GOMES & MONTEIRO MULT MEDICAS LTDA - Gomes & M...,Gomes & Monteiro,56792390,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,NaN,NaN,NaN
1116,LACLIN LAB ANALS CL B MANSA LTDA - Hemato Laclin,Hemato Laclin,56628003,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,CONTRATO HEAR CDRUBY MULTI,NaN,NaN
1117,LAB DE PAT CLIN DR FRANCESCHI - LCA - FRANCESCHI,LCA - FRANCESCHI,56767439,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,c8000 AOS NDR,NaN,ARCHITECT C8000 REFORMADO-BRAZIL
1118,LAB DE PAT CLIN DR FRANCESCHI - LCA - FRANCESCHI,LCA - FRANCESCHI,56767439,Emanuele Silva,NaN,NaN,NaN,Contract,1010,BRL,...,NaN,NaN,Company Owned,1,NaN,NaN,NaN,i2000SR AOS NDR,NaN,I2000SR PROCESSING MODULE

In [5]:
# saving removed products as list
df_log.columns=['t', 'd', 'a', 'c']
df_log[['A', 'B']] = df_log['a'].str.split(': ', 1, expand=True)
removed = df_log[['B']]
removed[['A', 'B']] = df_log['B'].str.split('_', 1, expand=True)
# for AZ
removed['A'] = removed['A'].str.replace("-", "")
removed = removed['A']
removed = list(removed.drop_duplicates(keep='last'))

/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_2260/1333597497.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed[['A', 'B']] = df_log['B'].str.split('_', 1, expand=True)
/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_2260/1333597497.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removed['A'] = removed['A'].str.replace("-", "")

In [6]:
# removing products from log from excel
for index in tqdm(excel.index):
    if excel['Product ID'][index] in removed:
        excel.drop([index], axis=0, inplace=True)

100%|██████████| 1119/1119 [00:00<00:00, 224651.84it/s]

In [7]:
# count of products
excel_gr = excel.groupby(['Alternate Contract Id','Customer ID', 
'Price Program Name']).size().reset_index(name='counts')

In [15]:
# Getting numbers and list with products

list_all = []
list_products =[]

Contract = tree.xpath('.//ContractOffer')
for contract in Contract:
    Program = contract.xpath('.//Program')
    for program in Program:
        nr_products = 0
        # if program.attrib['SourceStrategyID'] == 'AbbottTieredLineItemPricingStrategy':
        #     Product = program.xpath('.//ProductLI')
        #     for product in Product:
        #         list_all.append([contract.attrib['Customer'], contract.attrib['AlternateId'],program.attrib['Name'], product.attrib['ProductNum']])
        #         nr_products+=1
        # list_products.append([contract.attrib['Customer'], contract.attrib['AlternateId'],program.attrib['Name'], nr_products])
        
        if program.attrib['SourceStrategyID'] in ["AbbottServicePricingStrategy", "AbbottRentalPricingStrategy"]:
           Product = program.xpath('.//RentalLI')
           for product in Product:
                nr_products+=1
                list_all.append([contract.attrib['Customer'], contract.attrib['AlternateId'],program.attrib['Name'], product.attrib['ProductNum']])
        list_products.append([contract.attrib['Customer'], contract.attrib['AlternateId'],program.attrib['Name'], nr_products])
        
        
        # if program.attrib['SourceStrategyID']=="AbbottDOLPricingStrategy":
        #     Discount = program.xpath('.//DiscountOffListLI')
        #     nr_products = 0
        #     for discount in Discount:
        #         list_all.append([contract.attrib['Customer'], contract.attrib['AlternateId'],program.attrib['Name'], discount.attrib['ProductNum']])
        #         nr_products+=1
        #     list_products.append([contract.attrib['Customer'], contract.attrib['AlternateId'],program.attrib['Name'], nr_products])

In [16]:
# Exporting to dataframe
df_xml = pd.DataFrame(list_products)
df_xml.columns =['Customer ID','AlternateId', 'Price Program Name', 'counts']
df_xml.sort_values('AlternateId')

df_all = pd.DataFrame(list_all)
df_all.columns =['Customer ID','AlternateId', 'Price Program Name', 'Product ID']

In [11]:
df_xml

Empty DataFrame
Columns: []
Index: []

In [17]:
# removing price programs and contract ids with -2
for line in tqdm(df_xml.index):
    if df_xml['Price Program Name'][line][-2:] == '-2':
        df_xml['Price Program Name'][line] = df_xml['Price Program Name'][line].replace("-2", "")
    if df_xml['AlternateId'][line][-2:] == '-2':
       df_xml['AlternateId'][line] = df_xml['AlternateId'][line].replace("-2", "")

df_xml = df_xml.groupby(['Customer ID','AlternateId', 'Price Program Name']).sum()
df_xml.reset_index(inplace=True)

  0%|          | 0/2280 [00:00<?, ?it/s]/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_2260/1640382414.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_xml['Price Program Name'][line] = df_xml['Price Program Name'][line].replace("-2", "")
100%|██████████| 2280/2280 [00:00<00:00, 138526.13it/s]

In [18]:
# number of all lines
print(excel.shape[0])
print(df_all.shape[0])
print(len(removed))

1119
1104
54

In [19]:
# Merging dataframes- counts
excel_gr['Customer ID'] = excel_gr['Customer ID'].astype(int)
df_xml['Customer ID'] = df_xml['Customer ID'].astype(int)

df_merged = pd.merge(df_xml, excel_gr,  how='outer', left_on=['Customer ID','AlternateId', 'Price Program Name'], right_on = ['Customer ID','Alternate Contract Id', 'Price Program Name'])

In [20]:
df_merged
df_merged.rename(columns = {'counts_x':'count from xml', 'counts_y':'count from excel'}, inplace = True)

In [21]:
# checking if the same
df_merged['Are the same?'] = ''
for index in tqdm(df_merged.index):
    if df_merged['count from xml'][index] == df_merged['count from excel'][index]:
        df_merged['Are the same?'][index] = 'yes'
    else:
        df_merged['Are the same?'][index] = 'no'

  0%|          | 0/2272 [00:00<?, ?it/s]/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_2260/395836649.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['Are the same?'][index] = 'no'
/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_2260/395836649.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['Are the same?'][index] = 'yes'
100%|██████████| 2272/2272 [00:00<00:00, 11672.78it/s]

In [22]:
df_merged.to_excel(f'{path}/result.xlsx')

In [ ]:
#### prices

In [372]:
# Merging dataframes- prices
excel_prices['Customer ID'] = excel_prices['Customer ID'].astype(int)
df_all_prices['Customer ID'] = df_all_prices['Customer ID'].astype(int)
df_merged_prices = pd.merge(df_all_prices, excel_prices,  how='outer', left_on=['Customer ID','AlternateId', 'Price Program Name', 'Product ID'], right_on = ['Customer ID', 'Alternate Contract Id', 'Price Program Name','Product ID' ])
df_merged_prices['Price'] = df_merged_prices.Price.str.extract(r"(\d+\.\d+)")

/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_1424/3635080729.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excel_prices['Customer ID'] = excel_prices['Customer ID'].astype(int)

In [373]:
df_merged_prices['Price'] = df_merged_prices['Price'].astype(float)
df_merged_prices['Tier 1 Price'] = df_merged_prices['Tier 1 Price'].astype(float)

In [374]:
df_merged_prices['Are prices the same?'] = ''
for index in tqdm(df_merged_prices.index):
    if df_merged_prices['Price'][index] == df_merged_prices['Tier 1 Price'][index]:
        df_merged_prices['Are prices the same?'][index] = 'yes'
    else:
        df_merged_prices['Are prices the same?'][index] = 'no'

  0%|          | 0/36455 [00:00<?, ?it/s]/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_1424/981406581.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged_prices['Are prices the same?'][index] = 'yes'
/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_1424/981406581.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged_prices['Are prices the same?'][index] = 'no'
100%|██████████| 36455/36455 [00:03<00:00, 11799.93it/s]

In [375]:
df_merged_prices.to_excel(f'{path}/result prices2.xlsx')

In [118]:
################################SECOND OPTION################################################################

In [200]:
# comparing lines
excel_gr['Customer ID'] = excel_gr['Customer ID'].astype(int)
df_xml['Customer ID'] = df_xml['Customer ID'].astype(int)
list_compare = []
for i in tqdm(excel_gr.index):
    if excel_gr['Customer ID'][i] in df_xml['Customer ID'].values:
        for j in df_xml.index:
            if df_xml['Customer ID'][j] in excel_gr['Customer ID'].values:
                if pd.to_numeric(excel_gr['Customer ID'][i]) == pd.to_numeric(df_xml['Customer ID'][j]) and excel_gr['Price Program Name'][i] == df_xml['Price Program Name'][j]:
                    if pd.to_numeric(excel_gr['counts'][i]) == pd.to_numeric(df_xml['counts'][j]):
                        list_compare.append([excel_gr['Alternate Contract Id'][i],excel_gr['Customer ID'][i], excel_gr['Price Program Name'][i], excel_gr['counts'][i], df_xml['counts'][j],'yes'])
                    else:
                        list_compare.append([excel_gr['Alternate Contract Id'][i],excel_gr['Customer ID'][i], excel_gr['Price Program Name'][i], excel_gr['counts'][i], df_xml['counts'][j],'no'])
            else:
                list_compare.append([excel_gr['Alternate Contract Id'][i],df_xml['Customer ID'][j], df_xml['Price Program Name'][j], df_xml['counts'][j], '','not in excel'])
    else:
        list_compare.append([excel_gr['Alternate Contract Id'][i],excel_gr['Customer ID'][i], excel_gr['Price Program Name'][i], excel_gr['counts'][i], '','not in xml'])

100%|██████████| 1508/1508 [00:32<00:00, 45.84it/s]

In [248]:
# comparing lines
excel_gr['Customer ID'] = excel_gr['Customer ID'].astype(int)
df_xml['Customer ID'] = df_xml['Customer ID'].astype(int)
list_compare = []
for i in tqdm(excel_gr.index):
    if excel_gr['Customer ID'][i] in df_xml['Customer ID'].values:
        for j in df_xml.index:
            if df_xml['Customer ID'][j] in excel_gr['Customer ID'].values:
                if pd.to_numeric(excel_gr['Customer ID'][i]) == pd.to_numeric(df_xml['Customer ID'][j]) and excel_gr['Alternate Contract Id'][i]==df_xml['AlternateId'][j] and excel_gr['Price Program Name'][i] == df_xml['Price Program Name'][j]:
                    if pd.to_numeric(excel_gr['counts'][i]) == pd.to_numeric(df_xml['counts'][j]):
                        list_compare.append([excel_gr['Alternate Contract Id'][i],df_xml['AlternateId'][j],excel_gr['Customer ID'][i], excel_gr['Price Program Name'][i], excel_gr['counts'][i], df_xml['counts'][j],'yes'])
                    else:
                        list_compare.append([excel_gr['Alternate Contract Id'][i],df_xml['AlternateId'][j],excel_gr['Customer ID'][i], excel_gr['Price Program Name'][i], excel_gr['counts'][i], df_xml['counts'][j],'no'])
            else:
                list_compare.append([excel_gr['Alternate Contract Id'][i],df_xml['AlternateId'][j],df_xml['Customer ID'][j], df_xml['Price Program Name'][j], df_xml['counts'][j], '','not in excel'])
    else:
        list_compare.append([excel_gr['Alternate Contract Id'][i],'', excel_gr['Customer ID'][i], excel_gr['Price Program Name'][i], excel_gr['counts'][i], '','not in xml'])

100%|██████████| 1508/1508 [00:33<00:00, 45.69it/s]

In [201]:
for i in tqdm(excel_gr.index):
    if excel_gr['Customer ID'][i] not in df_xml['Customer ID'].values:
        list_compare.append([excel_gr['Customer ID'][i], excel_gr['Price Program Name'][i], excel_gr['counts'][i], '','not in xml'])

100%|██████████| 1508/1508 [00:00<00:00, 84867.57it/s]

In [202]:
for j in tqdm(df_xml.index):
    if df_xml['Customer ID'][j] not in excel_gr['Customer ID'].values:
        list_compare.append([df_xml['Customer ID'][j], df_xml['Price Program Name'][j], df_xml['counts'][j], '','not in excel'])

100%|██████████| 1564/1564 [00:00<00:00, 97481.07it/s]

In [251]:
# saving results as dataframe
df_compare = pd.DataFrame(list_compare)
df_compare.columns =['Alternate Contract Id from excel','Alternate Contract Id from xml','Customer ID', 'Price Program Name', 'counts from excel','counts from xml', 'are the same?']
#df_compare['Customer ID'] = df_compare['Customer ID'].astype(int)

In [252]:
df_compare

,Alternate Contract Id from excel,Alternate Contract Id from xml,Customer ID,Price Program Name,counts from excel,counts from xml,are the same?
0,001/19,001/19,56712662,Accessories - IA,11,11,yes
1,001/19,001/19,56712662,Accessories - IA - VE,1,1,yes
2,001/19,001/19,56712662,Accessories - Other,1,1,yes
3,001/19,001/19,56712662,CCC - IA,36,36,yes
4,001/19,001/19,56712662,CCC - IA - VE,1,1,yes
...,...,...,...,...,...,...,...
1475,Viva Med 06.04.18,Viva Med 06.04.18,56722492,Accessories - AMD,10,10,yes
1476,Viva Med 06.04.18,Viva Med 06.04.18,56722492,CCC - AMD,22,22,yes
1477,Viva Med 06.04.18,Viva Med 06.04.18,56722492,CCC - COVID,1,1,yes
1478,Viva Med 06.04.18,Viva Med 06.04.18,56722492,Reagents - AMD,13,13,yes
1479,Viva Med 06.04.18,Viva Med 06.04.18,56722492,Reagents - COVID,1,1,yes

In [254]:
# Checking status
df_compare['Status'] = ''
for i in df_compare.index:
  #  if df_compare['Customer ID'][i] in not_loaded['Name'].values:
  if df_compare['Alternate Contract Id from excel'][i] in not_loaded['Name'].values:
    df_compare['Status'][i] = 'error'
  else:
    df_compare['Status'][i] = 'loaded'

/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_3532/879000854.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compare['Status'][i] = 'loaded'
/var/folders/b3/52rfzyl51kv8hp5lk3vw_b6m0000gn/T/ipykernel_3532/879000854.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compare['Status'][i] = 'error'

In [241]:
df_compare.to_excel(f'{path}/result.xlsx')